.button {
  background-color: $primary-color;
  color: $button-title;
  min-width: 210px;
  border: none;
  border-radius: 5px;
  //padding-top: 12px;
  //padding-bottom: 9px;
  padding: 10px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: .2px;
  cursor: pointer;

  &:hover {
    background-color: $primary-hovered;
  }

  &:focus {
    outline: none;
  }

  &.disabled {
    background-color: #d7d7d7;
    color: #8d8c8c;
    cursor: no-drop;
  }

  &_flat {
    background-color: transparent;
    color: $primary-color;
    padding: 0;
    min-width: auto;

    &:hover {
      color: $primary-hovered;
      background-color: transparent;
    }
  }
}
