$primary-color: #ef5b4c;
$secondary-color: #007bff;
$background-color: #fff;
$background-color-2: #f9f9f3;
$title-color: #212529;
$content-color: #4c4b4b;
$primary-hovered: #d24335;
$button-title: #f9f9f9;
$input-focus-color: #80bdff;
$input-error-color: #db3445;
$border-color: #ececec;
$mobile-menu-border-color: #e1e1e1;
