.modal {

  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-dialog {
    max-width: 395px;
    min-width: 280px;
  }

  &-title {
    font-size: 24px;
    line-height: 30px;
    color: #000;
  }

  .button {
    min-width: auto;
    padding: 10px 19px;
  }
}
